<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
<nav>
  <a href="{{ url_for('index') }}">Inicio</a> |
  <a href="{{ url_for('platos') }}">Platos</a> |
  <a href="{{ url_for('mesas') }}">Mesas</a> |
  <a href="{{ url_for('pedidos') }}">Pedidos</a>
</nav>
<h1>PEDIDOS</h1>

<div class="container">
  <h2>Pedidos</h2>
  <table>
    <thead>
      <tr>
        <th>Plato</th>
        <th>Mesa</th>
        <th>Cantidad</th>
        <th>Fecha</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for pedido in pedidos %}
        <tr>
          <td>{{ pedido.0 }}</td>
          <td>{{ pedido.1 }}</td>
          <td>{{ pedido.2 }}</td>
          <td>{{ pedido.3 }}</td>
          <td>
            <form method="POST" action="{{ url_for('actualizar_pedido', id=pedido.0) }}">
              <button type="submit">Actualizar</button>
            </form>
            <form method="POST" action="{{ url_for('eliminar_pedido', id=pedido.0) }}">
              <button type="submit">Eliminar</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <h2>Crear Pedido</h2>
  <form method="POST" action="{{ url_for('crear_pedido') }}">
    Plato:<input type="text" name="plato" /><br />
    Mesa:<input type="number" name="mesa" /><br />
    Cantidad:<input type="number" name="cantidad" /><br />
    Fecha:<input type="date" name="fecha" /><br />
    <button type="submit">Crear</button>
  </form>
</div>
